<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ user.username }}</h1>
    <a href="{% url 'create_post' %}">Create a Post</a>
    <h2>Posts</h2>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'view_post' post.str_id %}">{{ post.title }}</a> by {{ post.author }}
                <a href="{% url 'delete_post' post.str_id %}" class="delete-button" onclick="return confirm('Are you sure you want to delete this post?');">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
